<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Luna+Mylyn+EclipseLink" sequenceNumber="40">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.persistence.sdk.feature.group" version="2.5.1.v20130918-f2b9fc5"/>
<repository location="http://download.eclipse.org/rt/eclipselink/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.jdom" version="1.1.1.v201101151400"/>
<unit id="org.jdom.source" version="1.1.1.v201101151400"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130827064939/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.mylyn.commons.repositories.feature.group" version="1.3.0.v20140304-2236"/>
<unit id="org.eclipse.mylyn_feature.feature.group" version="3.11.0.v20140304-2222"/>
<unit id="org.eclipse.mylyn.commons.repositories.http.feature.group" version="1.3.0.v20140218-2123"/>
<unit id="org.eclipse.mylyn.ide_feature.feature.group" version="3.11.0.v20131021-1909"/>
<unit id="org.eclipse.mylyn.commons.identity.feature.group" version="1.3.0.v20131021-1909"/>
<unit id="org.eclipse.mylyn.commons.compatibility.feature.group" version="3.11.0.v20131021-1909"/>
<unit id="org.eclipse.mylyn.commons.notifications.feature.group" version="1.3.0.v20140109-1729"/>
<unit id="org.eclipse.mylyn.java_feature.feature.group" version="3.11.0.v20140218-2206"/>
<unit id="org.eclipse.mylyn.team_feature.feature.group" version="3.11.0.v20140217-1917"/>
<unit id="org.eclipse.mylyn.context_feature.feature.group" version="3.11.0.v20140206-1846"/>
<unit id="org.eclipse.mylyn.commons.feature.group" version="3.11.0.v20140307-0034"/>
<unit id="org.eclipse.mylyn.pde_feature.feature.group" version="3.11.0.v20131021-1909"/>
<repository location="http://download.eclipse.org/mylyn/releases/latest"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="4.4.0.I20140522-1330"/>
<unit id="org.eclipse.test.feature.group" version="3.6.100.v20140518-1929"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.4milestones"/>
</location>
</locations>
</target>
